
.titulos404{font-family: montserrattitulo; 
  font-size: 50px;
   text-align: center; }
.subtitulos404{font-family: montserrattitulo; 
  font-size: 30px;
   text-align: center; margin : 1%; }

   .imgrogu{
 margin-left: 30%;
  border-radius: 30px;
width: 800px;}


