.imgeventos{
     margin-left: 30%;
  border-radius: 30px;
width: 800px;}

.imgevento1{width: 700px; border-radius: 30px;}

.contenedoreventos{ display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3%;
    width: 90%;
    margin: 3% auto; text-align: justify; }
  
h3{
  font-size: 20px;
    margin-left: 30px;
   margin-right: 30px; 
text-align: center;}

.imgcuriosidad1{width: 500px; border-radius: 30px; height: 500px;}

.imgcuriosidad2{width: 700px; border-radius: 30px; height: 500px;}