body{background-color: aliceblue;}

.contenedorsito{ display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3%;
    width: 90%;
    margin: 3% auto;}

    .text{ width: 80%;
    font-size: 20px ;
    text-align: left; margin-left: 30px; justify-content: center;}
  
.imgsobrelaserie{width: 700px; border-radius: 30px;}

.imgcreadores {border-radius: 30px; width: 600px;}

.contenedorcreadores {
   display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5% auto;
    width: 90%; 
    margin-top: 5%;
  

   }

   
.tarjetacreadores{
  
     font-size: 20px;
    width: 40%; margin: 3% auto;
}
    .video{aspect-ratio: 16/9;
    border-radius: 20px;}