.text{ 
    font-size: 20px ;
    text-align: left; margin-left: 30px; margin-right: 30px}


.imagenestem{ width: 100%; border-radius: 30px; }

.imgprincipal{ width: 100%;
    }


.subtitulostemp {font-size: 25px;
    font-family: montserrattitulo;align-items:center; justify-content: center ;
  text-align: center;
    margin-left: 30px;
   margin-right: 30px;}
    