body{background-color: gray;}
h1{text-align: center;}

h2{font-size: 20; margin-left: 15%;
    margin-right: 15%; text-align: center;}

.imginicio{width: 1920px; padding: 30px
    ;}

    .error404{ font-family: montserrattitulo;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 30px;
     background-color: rgba(157, 161, 114, 0.568); border-radius: 20px; padding: 15px;
text-align: center;
margin-left: 40%;
 margin-right: 25%; 

    }