
.contenedortarjetas{
    display:inline-flex;
    justify-content: space-between;
    gap:20px;
    border-radius: 20px; 
    margin-left: 50px;  
    
}

.contenedortarjetas2{
    display:inline-flex;
    justify-content: space-between;
    gap:20px;
    border-radius: 20px; 
    margin-left: 50px;  
    margin-right: 50px;
}

.tarjetasreparto{
    background-color: rgba(126, 128, 102, 0.397);
    border: #ffffff5b;
    border-style: solid;
    border-width: 7px;
    border-radius: 40px;
    margin-bottom: 50px;
    text-align: center;
  
}

.tarjetaimagen{
    width: 200px;
    display: inline-flex;
    justify-content: center;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 10%;
   text-align: center;
   border-radius: 20px;
}
h3{
  font-size: 20px;
    margin-left: 30px;
   margin-right: 30px}
